*
{
    margin: 0;
    height: 0;
}
.header
{
    height: 8vh;
    height: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    flex-wrap: nowrap;
}
.lista-majte
{
    height: inherit;
   
}
.lista-djathte
{
    border: 1px solid blue;
    height: 50%;
}
.lista-djathte li 
{
    padding: 0px 10px;
    color: blue;
}
.lista-majte li
{
    text-align: center;
    padding-top: 13px;
    height: inherit;
    padding-left: 10px;
    padding-right: 10px;
    
    
    
}
.lista-majte li:hover{background: rgb(12, 12, 82);}

.icon
{
    height: 50px;
    width: 50px;
    
}
.header ul 
{
    list-style-type: none;
    display: flex;
}
.left-side
{
    display: flex;
    height: inherit;
    
}

.contact-us-container
{
    display: flex;
  
    flex-direction: column;
}
.upper-box
{
    text-align: center;
}
.middle-box
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.middle-box>div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}